/*body {
    margin: 0;
}

.title {
font-size: 7rem;
color: white;
text-shadow: 0 0 5px black;
}

.wrapper {
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    perspective: 10px;
}
header {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    transform-style: preserve-3d;
    z-index:-1;
}
.background,
.foreground {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

section {
    font-size: 2rem;
    padding: 2rem;
    background-color: #333;
    color: white;
}*/

@import url('https://fonts.googleapis.com?family=Rancho');

 *{
margin: 0;
padding: 0;
scroll-behavior: smooth;
 }

body {
    overflow-x: hidden;
    margin: 0;
    min-height: 100vh;
    padding: 0;
}

 #h {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}
#h .logo{
    font-size: 2.5em;
    letter-spacing: 2.5px;
    font-weight: 700;
    text-decoration: none;
    color:green;
}
#h ul {
    display: flex;
}

 ul li {
    display: inline;
  font-size: 25px;
  list-style: none;
  border-radius: 20px;
}
#h ul li a {
    padding: 6px 15px;
    text-decoration: none;
    font-weight: 400;
    color: rgb(64, 159, 64);
    border-radius: 20px;
    cursor: pointer;
}

ul li:hover a,
ul li a.active {
    background: yellow;
    color: white;
}

.wrapper {
    position: relative;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

header img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index:5;

}
.treesleft {
    z-index: 1;
}

.title {
    position: absolute;
    right: 300px;
    font-size: 6.5rem;
    transform: translateY(-20px);
    font-family: 'Rancho',cursive;
}

span {
    position: absolute;
    left: 200px;
    font-size: 5rem;
    transform: translateY(80px);
    z-index: 0.5;
    font-family: 'Rancho',cursive;
}
.line {
    background: linear-gradient(to right,lightcoral,brown,blue,transparent);
}

section::before{
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to top,rgb(97, 24, 24));
    z-index: 10;
}

.mountain1 {
    z-index: 1;
}

.welcome {
    color: white;
    text-shadow: 0 0 10px black;
    font-size: 7.5rem;
}
.line p,h1 {
    padding: 30px;
    font: 400;
    font-size: 25px;
}